
.contact__section .box__contact {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.box__contact .contact__title {
	text-align: center;
	color: var(--cor-secundaria);
}

.contact__information {
	display: flex;
	margin-top: 50px;
}

.contact__information .information__item {
	padding: 25px 0px 25px 30px;
	background: #30364A;
}

.contact__information .information__item:nth-child(1) {
	background: url("../img/bg-contato-whatsapp.svg") no-repeat center;
}

.contact__information .information__item:nth-child(2) {
	background: url("../img/bg-contato-email.svg") no-repeat center;
}

.contact__information .item__title,
.contact__information .item__link {
	font-size: 22px;
	line-height: 30px;
	font-weight: bold;
	font-family: Lato;
	color: var(--cor-primaria);
}

.contact__information .item__link{
	display: block;
	font-weight: 400;
	color: var(--cor-terciaria);
}
