.global__box {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.content__menu {
	height: 100%;
	display: flex;
	align-items: center;
}

body::before {
	content:"";
	width: 100%;
	height: 100vh;
	position: absolute;
	background: url('../img/bg-servicos.svg') no-repeat center center;
}

/* ESTILIZAÇÃO DA SEÇÃO DE SERVIÇOS */
.services__section {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.services__section .carousel__box {
	display: flex;
	overflow: hidden;
}

.services__section .box__section {
	position: relative;
	margin-right: 20px;
	/*background: var(--cor-secundaria);*/
}

.services__section .box__section--inactive {
	display: none;
}

.services__section .services__title {
	position: relative;
	font-size: 70px;
	line-height: 75px;
	font-family: BebasNeue;
	color: var(--cor-primaria);
}

.services__section .services__description {
	position: relative;
	font-size: 18px;
	line-height: 27px;
	margin-top: 10px;
	margin-bottom: 30px;
	color: var(--cor-terciaria);
}

.animT {
	animation: animT 0.5s ease-out;
}

.animP {
	animation: animP 1.2s ease-in;
}

@keyframes animT {
	from {
		left: -100px;
		opacity: 0;
	}
	to {
		left: 0px;
		opacity: 1;
	}
}

@keyframes animP {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.services__section .services__menu {
	width: 60px;
	float: left;
	margin: 0 20px;
}

.services__menu .menu__items {
	display: flex;
	justify-content: space-between;
}

.services__menu .pages__count {
	width: 30px;
	text-align: center;	
	font-size: 18px;
	font-family: DancingScript;
	color: var(--cor-primaria);
}



.services__menu .items__item .btn__back,
.services__menu .items__item .btn__next {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	border: none;
	border-radius: 20px;
	background: var(--cor-primaria);
	cursor: pointer;
	outline: none;
}

.items__item--disabled {
	display: none;
	border: none;
	margin: 0;
	background: red;
}


/* ESTILIZAÇÃO DO MENU LATERAL (PRINCIPAL) EXCLUSIVO DA PÁGINA DE
   SERVIÇOS 
*/
.main__menu {
	justify-content: flex-end;
}

.main__menu nav {
	margin-right: 0;
}

.main__menu .items__item a {
	border-color: var(--cor-primaria);
}

.main__menu .items__back a,
.main__menu .items__next a,
.main__menu .item--ativo {
	background: var(--cor-primaria);
}